body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
}

li{
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .list{
  font-size: 30px;
}

.container form input[type="text"] {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid rgb(101, 98, 231);
}

.container form button {
  background-color: rgb(101, 98, 231);
  color: #ffffff;
  width: 50px;
  height: 30px;
  border: 1px solid blue;
  border-radius: 10px;
  cursor: pointer;
}

.container .list .list-item input[type="checkbox"] {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

/* Modal  */
.modal {
  width: 100%;
  max-width: 400px;
  position: absolute;
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  height: 200px;
  border: 2px dashed black;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.btn-close {
  padding: .5rem 1rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-confirm {
  background-color: limegreen;
  font-weight: bold;
  padding: .5rem 1rem;
  color: white;
}

.btn-reject {
  background-color: crimson;
  font-weight: bold;
  padding: .5rem 1rem;
  color: white;
}

:is(.btn-confirm, .btn-reject):hover,
:is(.btn-confirm, .btn-reject):focus {
  transform: scale(1.1);
}